body {
  margin: 0;
  /* display: flex; */
  /* justify-content:center; */
  /* align-items: center; */
  height: 100dvh;
  background-color: #0a202d;
}

#root {
  height: 100%;
}

main {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.die {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: antiquewhite;
  cursor: pointer;
  /* box-shadow: 0 2px 2px rgba(0 0 0 0.7); */
}

.dice-container {
  /* margin: auto auto; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
}

.game-card {
  /* margin: 0 auto; */
  background-color: white;
  width: min(90%, 370px);
  border-radius: 10px;
  padding: 10px;
}

.game-card > h1, .game-card > p {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  align-items: center;
}

.roll {
  background-color: #4730fd;
  color: white;
  border: 2px solid #b8ccff;
  padding: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.die.held {
  background-color: lightgreen;
}