body {
    margin: 0;
    padding: 0;
    background-color: rgb(235 237 231);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
header {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 11px;
    background-color: white;
    box-shadow: 0px 3px 9px 0px rgb(222 227 214);
    padding: 8px;
    width: min(700px, 90%);
    /* max-width: 750px; */
    margin: 10px auto;
    /* margin-top: 10px; */
    border-radius: 10px;
    /* transition: transform 250ms ease-in-out; */
}

header > img {
    height: 70px;
}

header > h1 {
    font-family: "Roboto";
    font-weight: 400;
}

/* header:hover {
    transform:scale(1.02);
} */

main {
    padding: 8px;
    margin: 10px auto;
    width: min(700px, 90%);
    box-shadow: 0px 3px 9px 0px rgb(222 227 214);
    border-radius: 10px;
    background-color: white;
    /* transition: transform 250ms ease-in-out; */
}

/* main:hover {
    transform:scale(1.02);
} */

.input-container > form {
    display: flex;
    justify-content: center;
    padding: 30px 15px;
    gap: 10px;
    flex-wrap: wrap;
}

.input-container > form > input {
    flex: 1;
    max-width: 450px;
    min-width: 100px;
    height: 32px;
    border-radius: 5px;
    outline: none;
    border:1.8px solid black;
    transition:border 250ms ease-in-out;
    font-weight: 500;
}

.input-container > form > input:focus {
    border: 1.8px solid rgb(141 173 78);
}

.add-ingredient {
    color: white;
    background-color: black;
    font-family: "Roboto";
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    transition: opacity 250ms ease-in-out;
}

.add-ingredient:hover {
    cursor:pointer;
    /* opacity: 0.9; */
}

.add-ingredient:active {
    cursor:pointer;
    opacity: 0.7;
}

.add-ingredient::before {
    content: "+";
    margin-right: 5px;
}

/* .text-container {
    padding: 0 24px;
} */

.ingredient {
    line-height: 2.5;
}

.recipie-getter-card {
    padding: 10px 24px;
    background-color: rgb(0, 0, 0, 0.15);
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.recipie-button-container > button {
    border-radius: 10px;
    color: white;
    font-weight: 700;
    border: none;
    width: 120px;
    height: 40px;
    cursor:pointer;
    background-color: rgb(231, 162, 34);
}

.recipie-getter-card span {
    display:block;
    margin-bottom: 15px;
}

.reset {
    background-color: red;
    color: white;
    font-weight: 700;
    height: 35px;
    border: none;
    width: 85px;
    border-radius: 10px;
    cursor: pointer;
}

.button-container {
    padding: 15px;
    display: flex;
    justify-content: center;
}